body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 auto;
    background: url("../media/images/background.jpg") no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Segoe UI Light';
    color: #FFF;
}

a {
    -moz-transition: 0.2s;
    transition: 0.3s;
    color: #f1f1f1;
    text-decoration: none;
}

.flexbox {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lh-small {
    line-height: 20px;
}

.i-shadow {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.t-shadow {
    text-shadow: 0 0 30px rgb(0, 0, 0);
}

h1 {
    font-size: 70px;
    letter-spacing: 1px;
}

.nav a {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
}

.avatar {
    border-radius: 50%;
    height: 224px;
    width: 224px;
}

.icons {
    color: #fff;
    transition: all 0.2s;
    font-size: 50px;
    margin-top: 5px;
}

.fa-discord {
    color: #7289DA;
}

.fa-twitter {
    color: #38A1F3;
}

.fa-youtube {
    color: #ff0000;
}

.fa-gitlab {
    color: #fc6d26;
}

.icons:hover {
    color: #ffb6c1;
}